<!DOCTYPE html>
<html>
<head>
  <title>Payment Success</title>
</head>
<body>
  <h1>Payment Successful</h1>
  <p>Your order has been placed successfully. Order ID: <%= orderId %></p>
  <!-- You can add more order details here -->
</body>
</html>
